.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #236ccc;
    background-color: white;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #25869c;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #25869c;
    color: white;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}

.home-btn{
    display: flex;
    font-size: 2rem;
    padding: 1.5rem 1.5rem;
    width: 8.5rem;
    text-align: center;
    border: 0.1rem solid #4695d2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #2090b2;
    background-color: #fdfdfd;
    border-radius: 1rem;
}

.home-btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #25869c;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.correct{
    background-color: #28a745;
}

.incorrect{
    background-color: #dc3545;
}